.about {
    padding: 50px 0 40px;

    @media(max-width: 1024px) {
        padding: 25px 0 10px;
    }

    @media(max-width: 768px) {
        padding: 15px 0 20px;
    }

    @media(max-width: 575px) {
        padding-top: 12px;
    }

    // .about__title

    &__title {
        @media(max-width: 1024px) {
            font-size: 30px;
            line-height: 24px;
            margin-bottom: 25px;
        }

        @media(max-width: 768px) {
            font-size: 18px;
            text-align: center;
            max-width: 212px;
            margin: 0 auto 11px;
        }
    }

    // .about__text

    &__text {
        font-size: 16px;
        line-height: 24px;

        @media(max-width: 768px) {
            font-size: 12px;
            line-height: 18px;
            text-align: center;
        }
    }

    // .about__cards

    &__cards {
        grid-gap: 30px;
        margin-top: 7px;

        @media(max-width: 1024px) {
            margin-top: 30px;
            grid-row-gap: 20px;
        }

        @media(max-width: 768px) {
            grid-row-gap: 45px;
            margin-top: 15px;
        }

        @media(max-width: 575px) {
            grid-gap: 10px;
        }
    }
}

.about-card {
    transition: .3s box-shadow;

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04);
        }
    }

    //min-height: 567px;
    &:nth-child(2) {
        @media(max-width: 1024px) {
            display: none;
        }
    }

    // .about-card__img

    &__img {
        position: relative;
        height: 225px;

        @media(max-width: 1024px) {
            height: 228px;
        }

        @media(max-width: 768px) {
            height: 213px;
        }
    }

    // .about-card__bg-img

    &__bg-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .about-card__absolute-img

    &__absolute-img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -36px;
    }

    // .about-card__content

    &__content {
        flex: 1 1 auto;
        background-color: #FFFFFF;
        padding: 64px 30px 25px;

        @media(max-width: 1024px) {
            padding: 36px 25px 22px 16px;
        }

        @media(max-width: 768px) {
            padding: 27px 15px 18px;
        }
    }

    // .about-card__title

    &__title {
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;
        color: #000;

        @media(max-width: 1024px) {
            font-size: 16px;
            margin-bottom: 1px;
        }
    }

    // .about-card__list

    &__list {
        margin: -5px 0 10px;

        @media(max-width: 1024px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 15px;
        }

        @media(max-width: 768px) {
            margin-bottom: 6px;
        }

        li {
            position: relative;
            padding-left: 13px;
            font-size: 12px;
            line-height: 24px;
            color: #000;
            margin: 5px 0;

            @media(max-width: 1024px) {
                width: 50%;
                line-height: 16px;
            }

            @media(max-width: 768px) {
                width: 100%;
            }

            &:before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $blue;

                @media(max-width: 1024px) {
                    top: 6px;
                }
            }
        }
    }

    // .about-card__text

    &__text {
        font-size: 14px;
        line-height: 24px;
        flex: 1 1 auto;
        margin-bottom: 17px;

        @media(max-width: 1024px) {
            font-size: 12px;
            line-height: 18px;
        }

        @media(max-width: 768px) {
            max-width: 260px;
            margin-bottom: 12px;
        }
    }

    // .about-card__price

    &__price {
        font-size: 18px;
        line-height: 32px;
        font-weight: 500;

        @media(max-width: 1024px) {
            font-size: 16px;
        }
    }

    // .about-card__description

    &__description {
        padding-left: 58px;

        @media(max-width: 1024px) {
            padding-left: 0;
            margin-top: 9px;
        }

        @media(max-width: 768px) {
            margin-top: 20px;
        }

        @media(max-width: 575px) {
            margin-top: 9px;
        }
    }
}

.about-card--horizontal {
    @media(min-width: 575px) {
        min-height: 400px;
    }

    grid-column: span 3;

    @media(max-width: 1024px) {
        grid-column: span 2;
    }

    @media(max-width: 575px) {
        grid-column: span 1;
        margin-top: 30px;
    }

    @media(min-width: 575px) {
        display: flex;
    }

    >* {
        @media(min-width: 575px) {
            width: 50%;
            min-height: 100%;
        }
    }

    .about-card {
        &__content {
            box-shadow: none;
            padding: 30px 90px 30px 40px;

            @media(max-width: 1024px) {
                flex-direction: column;
                text-align: center;
                padding-right: 58px;
                padding-left: 58px;
            }

            @media(max-width: 575px) {
                padding: 32px 20px 17px;
            }
        }

        &__img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            font-size: 24px;
            line-height: 32px;
            color: #505359;
            margin-bottom: 17px;

            @media(max-width: 1024px) {
                font-size: 22px;
                margin-bottom: 11px;
            }
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            color: #505359;
            margin-bottom: 17px;

            @media(max-width: 1024px) {
                margin-bottom: 12px;
            }

            @media(max-width: 768px) {
                max-width: 100%;
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 15px;
            }
        }

        &__price {
            @media(max-width: 1024px) {
                font-size: 18px;
            }

            @media(max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}