.footer {

    color: #fff;
    // .footer__body

    &__body {
        background-color: #373737;
    }

    // .footer__top

    &__top {
        border-bottom: 1px solid rgba(196, 196, 196, 0.2);
        padding: 15px 0;

        @media(max-width: 1024px) {
            padding: 23px 0 20px;
        }

        @media(max-width: 575px) {
            flex-direction: column;
        }
    }

    &__callback,
    &__menu-item--more {
        color: $blue;
    }

    // .footer__social

    &__social {
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;

        @media(max-width: 575px) {
            margin-top: 17px;
        }
    }

    // .footer__inst

    &__inst {
        margin-left: 10px;
    }

    // .footer__main

    &__main {
        padding: 30px 0 25px;
        margin: -15px;

        @media(max-width: 768px) {
            margin: -18px 0;
        }

        @media(max-width: 575px) {
            margin: 0;
        }
    }

    // .footer__col

    &__col {
        padding: 15px;

        @media(max-width: 768px) {
            width: 50%;
            padding: 18px 0;
        }

        @media(max-width: 575px) {
            width: 100%;
            padding: 0;
        }

        &:nth-child(1) {
            @media(max-width: 575px) {
                margin-bottom: 10px;
            }

            .footer {
                &__menu {
                    @media(max-width: 768px) {
                        margin: 0 -47.5px;
                    }

                    @media(max-width: 575px) {
                        margin: 0 -15px;
                    }
                }

                &__menu-col {
                    @media(max-width: 768px) {
                        padding: 0 47.5px;
                    }

                    @media(max-width: 575px) {
                        padding: 0 15px;
                    }
                }
            }
        }

        &:nth-child(3) {
            @media(max-width: 768px) {
                width: 100%;
            }

            @media(max-width: 575px) {
                flex-direction: column-reverse;
                margin-top: 20px;
            }

            .footer {
                &__menu {
                    @media(max-width: 768px) {
                        margin: 0 -55px;
                    }

                    @media(max-width: 575px) {
                        margin: 0;
                    }
                }

                &__menu-col {
                    @media(max-width: 768px) {
                        padding: 0 55px;
                    }

                    @media(max-width: 575px) {
                        padding: 0;
                        width: 100%;
                    }
                }

                &__menu-col+&__menu-col {
                    @media(max-width: 575px) {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    // .footer__title

    &__title {
        font-family: 'Museo Sans Cyrl 500';
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 25px;

        @media(max-width: 768px) {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    // .footer__menu

    &__menu {
        margin: 0 -30px;

        @media(max-width: 1200px) {
            margin: 0 -15px;
        }
    }

    // .footer__menu-col

    &__menu-col {
        padding: 0 30px;

        @media(max-width: 1200px) {
            padding: 0 15px;
        }

        @media(max-width: 575px) {
            width: 50%;
        }

        &:nth-child(3) {
            @media(max-width: 1200px) {
                display: none;
            }
        }
    }

    // .footer__menu-item

    &__menu-item {
        display: block;
        font-size: 16px;
        line-height: 34px;

        @media(max-width: 768px) {
            font-size: 14px;
            line-height: 30px;
        }
    }

    // .footer__bottom

    &__bottom {
        background-color: #333333;
        font-size: 12px;
        line-height: 20px;
        padding: 15px 0;

        @media(max-width: 575px) {
            padding: 20px 0;
        }
    }

    &__bottom-inner {
        margin: 0 -15px;

        @media(max-width: 575px) {
            margin: 0 -4.5px;
        }

        >* {
            padding: 0 15px;

            @media(max-width: 575px) {
                padding: 0 4.5px;
            }
        }
    }

    // .footer__copyright

    &__copyright {
        span {
            @media(max-width: 1024px) {
                display: none;
            }
        }
    }

    // .footer__politics

    &__politics {
        margin-right: 140px;
        margin-left: auto;

        @media(max-width: 1024px) {
            margin-right: auto;
            text-align: center;
        }

        @media(max-width: 768px) {
            margin-left: 0;
            margin-right: 0;
        }
    }

    a.footer__menu-item {
        transition: .3s color;

        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
    }
}